<div style="text-align:center;">
<h1>{{message}}</h1>
</div>
<h2>{{"Customer Name:" + customerName}}</h2>
<h3>Below is image tag</h3>
<img src="{{imageUrl}}" alt="photo">
<h1>Uppercase pipe :{{ customerName | uppercase}}</h1>
<h2>Lowercase pipe:{{lowerCase | lowercase}}</h2>
<h3>Toda's date : {{todayDate|date}}</h3>
<app-test (childEvent)="message=$event" [parentData]="name"></app-test>
<app-sizer-component [(size)]="fontSizePx"></app-sizer-component>
<div [style.font-size.px]="fontSizePx">Resizable Text</div>